<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="com.aware.plugin.google.activity_recognition" >

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:icon="@drawable/ic_launcher_activity_recognition"
        android:label="@string/app_name"
        tools:replace="android:icon"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="com.aware.plugin.google.activity_recognition.Algorithm"
            android:exported="true"
            android:label="@string/app_name" />

        <activity
            android:name="com.aware.plugin.google.activity_recognition.Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name" />

        <provider
            android:name="com.aware.plugin.google.activity_recognition.Google_AR_Provider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name="com.aware.plugin.google.activity_recognition.Plugin"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>